.frontEndContainer{
    margin-top: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:650px){
    .frontEndContainer{
        gap: 2rem;
    }
}