.frontEndContainer{
    margin-top: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
}
.sectionHeader{
    border: 1px solid white;
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border-radius: .5rem;
    transition: .4s;
    cursor: pointer;
}
.sectionHeader:hover{
    color: var(--orangeColor);
    border: 1px solid var(--orangeColor);
    transform: scale(105%);
    transition: color .2s, border .4s, transform .2s;
}